body{
    color: white;
    background: darkred;
    margin: 0px;
}
header{
    border-top: solid 3px grey;
    padding: 20px;
    font-size: 35px;
}
section{
    background: red;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
}

.chamada-texto{
    margin: 5%
}

h1{
    font-size: 80px;
}

p{
    font-size: 35px;
}

.categoria-videos{
    background: black;
    padding-left: 20px;
    padding-right: 20px;
}

.videos-recomendados{
    display: flex;
    overflow-x: auto;
    gap: 10px;
    
    img{
        height: 200px;
        opacity: 0.5;
    }
    
    img:hover{
        opacity: 1.0;
        border: solid 5px white;
    }

}